* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-bg-main: #fbf5f3;
  --color-main-brown: rgb(135, 46, 6);
  --color-action-blue: #5d81a3;
  --color-gray: #888;
  --color-scrollbar-thumb: brown;
}

body {
  background-color: var(--color-bg-main);
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2px; /* Me he fijado en el NButton y parece que tiene un letter-spacing similar. ¿Alguien notará la diferencia entre 0.2px y 0? Desde luego que no, pero yo sí. */
  transition: ease 250ms;
}

.close-button:hover {
  color: var(--color-gray);
}
